<h1 class="mat-h1">{{ pageTitle }}</h1>

<form [formGroup]="formGroup" (submit)="saveRecipe()" *ngIf="!editMode || recipe">
  <mat-vertical-stepper #stepper (selectionChange)="selectionChange($event)">
    <!-- First step -->
    <mat-step>
      <ng-template matStepLabel>Général</ng-template>
      <div fxLayout="column">
        <mat-checkbox formControlName="published">Publié ?</mat-checkbox>

        <!-- Created field-->
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Créé" formControlName="created" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <!-- Full Title fields -->
        <div fxLayout="row" fxLayoutGap="40px">
          <mat-form-field fxFlex="1 1 auto">
            <input matInput placeholder="Titre" formControlName="title" required>
          </mat-form-field>
          <mat-form-field fxFlex="1 1 auto">
            <input matInput placeholder="Sous-titre" formControlName="sub_title" required>
          </mat-form-field>
        </div>
        <mat-form-field>
          <input matInput (keyup)="changeSlug()" placeholder="Titre complet" formControlName="full_title" required>
        </mat-form-field>

        <!-- Slug field -->
        <mat-form-field>
          <input matInput placeholder="Slug" formControlName="slug" required>
        </mat-form-field>

        <!-- Categories Field -->
        <mat-form-field>
          <mat-select placeholder="Catégories" formControlName="categories" multiple required>
            <mat-option *ngFor="let category of categoryList" [value]="category.id">
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Tags field -->
        <mat-form-field>
          <mat-chip-list #chipList>
            <mat-chip
              *ngFor="let tag of tags"
              [selectable]="true"
              [removable]="true"
              (removed)="removeTag(tag)">
              {{ tag }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Tags"
              #tagInput
              formControlName="tags"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="false"
              (matChipInputTokenEnd)="addTag($event)">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTag($event)">
            <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
              {{ tag }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <!-- Images fields -->
        <div fxLayout="row" fxLayoutGap="40px">
          <mat-form-field fxFlex="1 1 auto">
            <app-mat-file-input
              formControlName="main_picture"
              placeholder="Image principale"
              required
            >
            </app-mat-file-input>
          </mat-form-field>
          <mat-form-field fxFlex="1 1 auto">
            <app-mat-file-input formControlName="secondary_picture" placeholder="Image secondaire"></app-mat-file-input>
          </mat-form-field>
        </div>
      </div>

      <div>
        <button mat-stroked-button matStepperNext type="button">Suivant</button>
      </div>
    </mat-step>

    <!-- Second step -->
    <mat-step>
      <ng-template matStepLabel>Informations de la recette</ng-template>
      <div fxLayout="column">
        <!-- Goal field -->
        <mat-form-field>
          <input matInput placeholder="Pour..." formControlName="goal" required>
        </mat-form-field>

        <!-- Preparation field -->
        <mat-form-field>
          <input type="number" matInput placeholder="Temps de préparation" formControlName="preparation_time" required>
        </mat-form-field>

        <!-- Cooking field -->
        <mat-form-field>
          <input type="number" matInput placeholder="Temps de cuisson" formControlName="cooking_time">
        </mat-form-field>

        <!-- Fridge field -->
        <mat-form-field>
          <input type="number" matInput placeholder="Temps de frigo" formControlName="fridge_time">
        </mat-form-field>

        <!-- Leavening field -->
        <mat-form-field>
          <input type="number" matInput placeholder="Temps de repos" formControlName="leavening_time">
        </mat-form-field>

        <!-- Difficulty field -->
        <mat-form-field>
          <mat-select placeholder="Difficulté" formControlName="difficulty" required>
            <mat-option [value]="1">Facile</mat-option>
            <mat-option [value]="2">Moyen</mat-option>
            <mat-option [value]="3">Difficile</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <div fxLayout="row" fxLayoutGap="20px">
          <button mat-stroked-button matStepperPrevious type="button">Précédent</button>
          <button mat-stroked-button matStepperNext type="button">Suivant</button>
        </div>
      </div>
    </mat-step>

    <!-- Third step -->
    <mat-step>
      <ng-template matStepLabel>Introduction</ng-template>
      <div fxLayout="column">
        <div id="editor"></div>
        <input type="hidden" id="introduction" formControlName="introduction">
      </div>
      <div>
        <div fxLayout="row" fxLayoutGap="20px">
          <button mat-stroked-button matStepperPrevious type="button">Précédent</button>
          <button mat-stroked-button matStepperNext type="button">Suivant</button>
        </div>
      </div>
    </mat-step>

    <!-- Fourth step -->
    <mat-step>
      <ng-template matStepLabel>Composition et étapes</ng-template>
      <div fxLayout="row" fxLayoutGap="40px">
        <!-- Composition -->
        <div formArrayName="composition" fxFlex="1 1 auto" class="composition-steps-wrapper">
          <h3>Composition</h3>
          <mat-card
            fxLayout="column"
            class="mat-elevation-10 composition-item"
            *ngFor="let compositionItem of composition.controls; index as compositionIndex"
            [formGroup]="compositionItem"
          >
            <div class="composition-controls">
              <button
                mat-button color="warn"
                *ngIf="compositionIndex !== 0"
                (click)="removeComposition(compositionIndex)"
              >
                SUPPRIMER
              </button>
              <button mat-button (click)="addComposition()">AJOUTER</button>
            </div>
            <mat-form-field>
              <input type="text" matInput placeholder="Nom de la composition" formControlName="name">
            </mat-form-field>
            <div fxLayout="column" formArrayName="ingredients">
              <div
                fxLayout="row"
                fxLayoutAlign="center center"
                fxLayoutGap="15px"
                *ngFor="let ingredient of getIngredients(compositionIndex).controls; index as ingredientIndex"
                [formGroup]="ingredient">
                <mat-form-field fxFlex="1 1 auto">
                  <input
                    (keyup)="filterIngredients($event)"
                    (focus)="filteredIngredients = []"
                    matInput placeholder="Ingredient"
                    formControlName="ingredient"
                    required
                    [matAutocomplete]="autoIngredient"
                  >
                  <mat-autocomplete #autoIngredient="matAutocomplete">
                    <mat-option *ngFor="let ingredient of filteredIngredients" [value]="ingredient | capitalizeFirst">
                      {{ ingredient | capitalizeFirst }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="small-field">
                  <input type="number" matInput placeholder="Qté" formControlName="quantity">
                </mat-form-field>
                <mat-form-field class="small-field">
                  <input
                    (keyup)="filterUnits($event)"
                    (focus)="filteredUnits = []"
                    matInput
                    placeholder="Unité"
                    formControlName="unit"
                    [matAutocomplete]="autoUnit"
                  >
                  <mat-autocomplete #autoUnit="matAutocomplete">
                    <mat-option *ngFor="let unit of filteredUnits" [value]="unit">
                      {{ unit }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <div fxFlex="1 1 50px">
                  <div fxLayout="row" fxLayoutAlign="end end" class="action-buttons">
                    <button
                      mat-icon-button
                      *ngIf="ingredientIndex !== 0"
                      (click)="removeIngredient(compositionIndex, ingredientIndex)"
                    >
                      <mat-icon>close</mat-icon>
                    </button>
                    <button mat-icon-button (click)="addIngredient(compositionIndex)">
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
        <!-- Steps -->
        <div formArrayName="steps" fxFlex="1 1 auto" class="composition-steps-wrapper">
          <h3>Étapes</h3>
          <div fxLayout="row"
               fxLayoutAlign="center center"
               fxLayoutGap="15px"
               *ngFor="let step of steps.controls; index as i"
          >
            <mat-form-field fxFlex="1 1 auto">
            <textarea
              type="text"
              [placeholder]="'Étape ' + (i + 1)"
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              [formControlName]="i">
            </textarea>
            </mat-form-field>
            <div fxFlex="1 1 50px">
              <div fxLayout="row" fxLayoutAlign="end end" class="action-buttons">
                <button
                  type="button"
                  mat-icon-button
                  *ngIf="i !== 0"
                  (click)="removeStep(i)"
                >
                  <mat-icon>close</mat-icon>
                </button>
                <button mat-icon-button (click)="addStep()" type="button">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div fxLayout="row" fxLayoutGap="20px">
          <button mat-stroked-button matStepperPrevious type="button">Précédent</button>
          <button mat-stroked-button matStepperNext type="button">Suivant</button>
        </div>
      </div>
    </mat-step>

    <!-- Fifth step -->
    <mat-step>
      <ng-template matStepLabel>SEO</ng-template>
      <div fxLayout="column">
        <mat-form-field>
          <textarea
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            placeholder="Meta description"
            formControlName="meta_description"
            #meta_description
            maxlength="300"
            required
          >
          </textarea>
          <mat-hint align="end">{{ meta_description.value.length }} / 300</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <div fxLayout="row" fxLayoutGap="20px">
          <button mat-stroked-button matStepperPrevious type="button">Précédent</button>
          <button mat-flat-button color="primary" type="submit" [disabled]="isPosting">
            Enregistrer
          </button>
        </div>
      </div>
      <mat-error *ngIf="hasError" class="form-error">
        Une erreur est présente dans le formulaire
      </mat-error>
    </mat-step>
  </mat-vertical-stepper>
</form>
