.mat-checkbox {
  margin-top: 15px;
  margin-bottom: 15px;
}

.composition-steps-wrapper {
  &:first-child {
    width: 55%;
  }

  &:last-child {
    width: 45%;
  }
}

.ql-container {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  height: 250px;
  margin-bottom: 30px;
}

.composition-item {
  &:first-child {
    margin-top: 20px;
  }
  margin-bottom: 20px;
  position: relative;

  .small-field {
    width: 60px;
  }

  .composition-controls {
    position: absolute;
    top: 5px;
    right: 5px;

    button {
      z-index: 10;
    }
  }
}

.form-error {
  margin-top: 15px;
}

.action-buttons {
  .mat-icon-button {
    $icon-small-container-size: 25px;
    $icon-small-size: 12px;

    width: $icon-small-container-size;
    height: $icon-small-container-size;
    line-height: $icon-small-container-size;

    .mat-icon, .mat-icon-button i {
      line-height: $icon-small-size;
    }

    .mat-icon {
      width: $icon-small-size;
      height: $icon-small-size;
    }

    .material-icons {
      font-size: $icon-small-size;
    }
  }
}
