.mat-checkbox {
  margin-top: 15px;
  margin-bottom: 15px;
}

.composition-item {
  &:first-child {
    margin-top: 20px;
  }
  margin-bottom: 20px;
  position: relative;

  .composition-controls {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
