.custom-toolbar {
  margin-bottom: 20px;

  h1 {
    margin: 0;
  }
}

.list-container {
  margin-bottom: 40px;
  position: relative;

  .list-table-container {
    position: relative;

    table {
      width: 100%;

      .table-categories:not(:last-child) {
        &:after {
          content: '-';
          margin: 0 2px;
        }
      }
    }
  }

  .list-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    background-color: rgba(0, 0, 0, 0.2);
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}
