<h1 class="mat-h1">Dashboard</h1>
<div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="40px">
  <a class="quick-link" routerLink="/recipes/add">
    <div class="illustration">
      <img src="assets/icons/taco.svg" alt="">
    </div>
    <span>Ajouter une recette</span>
  </a>

  <a class="quick-link" routerLink="/blog/add">
    <div class="illustration">
      <img src="assets/icons/school-pencil.svg" alt="">
    </div>
    <span>Ajouter un article</span>
  </a>

  <a class="quick-link" routerLink="/comments">
    <div class="illustration">
      <img src="assets/icons/speech-bubble.svg" alt="">
    </div>
    <span>Voir les commentaires</span>
  </a>

  <a class="quick-link" routerLink="#">
    <div class="illustration">
      <img src="assets/icons/add-user.svg" alt="">
    </div>
    <span>Voir les utilisateurs</span>
  </a>
</div>
