@import '../../../../node_modules/@angular/material/theming';
@import '../../../theme';

$primary: map-get($theme, primary);

.quick-link {
  outline: none;
  padding: 15px;
  width: calc(100% / 4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: box-shadow 200ms;
  color: mat-color($primary);
  border: 1px solid mat-color($primary);
  border-radius: 4px;
  @include mat-elevation(0);

  &:hover {
    @include mat-elevation(6);
  }

  .illustration {
    width: 150px;
    padding: 20px 0;

    img {
      width: 100%;
    }
  }
}
