.avatar {
  background-size: cover;
}

.mat-dialog-content {
  padding: 10px 24px;

  a {
    color: rgba(0, 0, 0, 0.54);
    text-decoration: none;
  }
}

.mat-form-field {
  padding-top: 1em;
  width: 100%;
}

.mat-card-content {
  padding-top: 1em;
  white-space: pre-wrap;
}
